* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.calculator-grid {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #00f;
}

.output {
  margin: 20px;
  width: 250px;
  height: 75px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0;
  border: 2px dashed crimson;
}
.output div {
  margin: 5px;
  margin-left: 0;
}
.previous-operand{
  height: 25px;
  border: 2px dashed crimson;
}
.current-operand{
  height: 25px;
  border: 2px dashed crimson;
}

.calculator-buttons {
  margin-bottom: 20px;
}


button {
  font-size: 1em;
  width: 50px;
  height: 50px;
}