* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.calculator-grid {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #00f;
}

.previous-operand{}

.current-operand{}

.output {
  margin: 20px;
  width: 250px;
  height: 75px;
  margin-bottom: 20px;
  border: 2px dashed crimson;
}


button {
  font-size: 1em;
  width: 50px;
  height: 50px;
}